 <section class="phx-hero">
 <h1><%= gettext "Welcome to %{name}!", name: "The Blog" %></h1>
 <h1><%= gettext "Welcome to %{@name}!" %></h1>
 <h1><%= @name %></h1>
 <p>May the 4th be with you.</p>
 </section>
